.un{
    border: 5px outset black;
    border-radius: 15px;
    background-color: rgb(9, 123, 104);
    color: rgb(151, 8, 8);
    width: auto;
    padding: 70px;
    text-align: center;
    margin: 20px;
}

.de{
    border: 5px outset black;
    border-radius: 15px;
    background-color: rgb(9, 123, 104);
    color: rgb(151, 8, 8);
    width: auto;
    padding: 70px;
    margin: 20px;
}

button{
    background-color: bisque;
    border-radius: 50px;
    padding: 10px;
}


input{
    border: 4px outset rgb(151, 8 ,8);
    border-radius: 25px;
    padding: 5px;
    background-color: rgba(4, 189, 158, 0.805);
}
input [type="checkbox"]{
    padding: 5px;
}
